# Standard Excludes
.env
.ssh/

### Personal Files
# DosBox
.config/dosbox/HDD/*
!.config/dosbox/HDD/README.md
.config/dosbox/CDROM/*
!.config/dosbox/CDROM/README.md
.config/dosbox/soundfonts/*
.config/dosbox/mt32-roms/*
.config/dosbox/shell_history.txt
# MPD
.config/mpd/playlists/*
.config/mpd/database
.config/mpd/log
# Nicotine+
.config/nicotine/*
# Aseprite
.config/aseprite/*
